<div class="container">
  <h1><%= form_title_position %></h1>

  <%= form_for @position do |f| %>
    <%= f.text_field :description, placeholder: "Ingresa el tipo de cargo", class: "form-group form-control" %>
    <%= f.submit form_title_position, class: "form-group btn btn-secondary btn-sm" %>
  <% end %>
</div>
