<div class="container pt-3">
  <div class="card shadow bg-light">

    <div class="d-flex p-2">
      <%= fa_icon "question", class: "btn btn-info btn-sm shadow", title: "Aqui encontraras toda la informacion al respecto de las personas su numero de identificacion, nombre, apellido y rol que maneja, tambien puedes eliminar, editar y agregar una nueva persona" %>
    </div>

    <div class="card-body">

      <div class="card-title d-flex justify-content-between align-items-center">
        <h1>Personas</h1>
        <%= link_to (fa_icon "plus-square"), new_person_path, class: "btn btn-success btn-sm shadow", title: "Agregar persona", remote: true %>
      </div>

      <div class="table-responsive shadow text-center">
        <table class="table table-hover table-sm small">
          <thead class="thead-light">
            <tr>
              <th>Id</th>
              <th>Cedula</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Rol</th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            <% @person.each do |person| %>
              <%= render "row", person: person %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
