<div class="container pt-3">
  <div class="card shadow bg-light">

    <div class="d-flex p-2">
      <%= fa_icon "question", class: "btn btn-info btn-sm shadow", title: "Aqui encontraras toda la informacion acerca de las visitas realizadas por fechas y el realizador, tambien puede agregar, eliminar y editar visitas." %>
    </div>

    <div class="card-body">

      <div class="card-title d-flex justify-content-between align-items-center">
        <h1>Visitas</h1>
        <%= link_to (fa_icon "plus-square"), new_visit_path, class: "btn btn-success btn-sm shadow", title: "agregar visita", remote: true %>
      </div>

      <div class="table-responsive shadow text-center">
        <table class="table table-hover table-sm small">
          <thead class="thead-light">
            <tr>
              <th>Id</th>
              <th>Fecha</th>
              <th>Realizador</th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            <% @visits.each do |visit| %>
              <%= render "row", visit: visit %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
