<h1>Visitas</h1>

<%= link_to "Agregar fecha", new_visit_path %>

<table>
  <tr>
    <th>Id</th>
    <th>Fecha</th>
  </tr>
  <% @visits.each do |visit| %>
    <tr>
      <td><%= visit.id %></td>
      <td><%= visit.date %></td>
    </tr>
  <% end %>
</table>
